<%- include('includes/header') %>
  
  <div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Hello <strong><%= user.username %></strong></h2>
      <h1 class="display-3">Remember Writing?</h1>      
      <p class="lead text-muted">Are you sick of short tweets and impersonal &ldquo;shared&rdquo; posts that are reminiscent of the late 90&rsquo;s email forwards? We believe getting back to actually writing is the key to enjoying the internet again.</p>
      <p class="lead text-muted"></p>
    </div>  
  </div>
  
  <%- include('includes/footer')%>